.container {
    padding: 20px;
    text-align: center;
  }
  
  .heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  
  }
  
  .table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .table th {
    background-color: #922020f5;
  }
  
  .deleteButton {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 15px;
    width: 100px;
  }
  
  .deleteButton:hover {
    background-color: darkred;
  }
  